@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="txt-section">
        <h1 class="main-title">Gerenciador de Estoque</h1>

        <p class="main-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dignissimos reiciendis, harum ex aut voluptatum ipsa facere? Natus unde voluptatem porro ducimus temporibus repellat blanditiis nam quisquam doloribus. Qui, dignissimos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus est, deserunt reiciendis id dolorem, dicta in repellat doloremque voluptatem provident inventore dolor excepturi molestias possimus? Quae velit itaque similique saepe!</p>
    </section>

    <section id="registro" class="registro">
        <h2 class="reg-main-title">Registro de Produtos</h2>

        <form asp-action="RegistrarProduto" method="post">
            <input type="text" name="nomeProduto" id="reg-nome-produto" placeholder="Informe o nome:" required>
            <input type="number" name="quantProduto" id="reg-quant-produto" placeholder="Informe a quantidade:" required>
            <input type="number" name="precoProduto" id="reg-preco-produto" placeholder="Informe o preço:" required>
            <input type="text" name="grupoProduto" id="reg-grupo-produto" placeholder="Informe o grupo:">

            <button type="submit" class="reg-button">Enviar Registro!</button>
        </form>

    </section>
    
</div>
