@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="txt-section">
        <h1 class="main-title">Gerenciador de Estoque</h1>

        <p class="main-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dignissimos reiciendis, harum ex aut voluptatum ipsa facere? Natus unde voluptatem porro ducimus temporibus repellat blanditiis nam quisquam doloribus. Qui, dignissimos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus est, deserunt reiciendis id dolorem, dicta in repellat doloremque voluptatem provident inventore dolor excepturi molestias possimus? Quae velit itaque similique saepe!</p>
    </section>

    <section id="registro" class="registro">
        <h2 class="section-titles">Registro de Produtos</h2>

        <form asp-action="RegistrarProduto" method="post">
            <input type="text" name="nomeProduto" id="reg-nome-produto" placeholder="Informe o nome:" required>
            <input type="number" name="quantProduto" id="reg-quant-produto" placeholder="Informe a quantidade:" required>
            <input type="number" name="precoProduto" id="reg-preco-produto" placeholder="Informe o preço:" required>
            <input type="text" name="grupoProduto" id="reg-grupo-produto" placeholder="Informe o grupo:">

            <button type="submit" class="search-button">Enviar Registro!</button>
        </form>

    </section>

    <section class="consulta">
        <h2 class="section-titles">Consulta de Produtos</h2>

        <form action="">
            <input id="cons-nome-produto" placeholder="Informe o nome do produto:" type="text">

            <input id="cons-grupo-produto" placeholder="Informe o grupo do produto:" type="text">

            <button class="search-button" type="submit">Consutar</button>
        </form>
    </section>

    <section class="edicao">
        <h2 class="section-titles">Edição de Produtos</h2>

        
    </section>

    <section class="remocao">
        <h2 class="section-titles">Remoção de Produtos</h2>

        <form action="">
            <input type="text" placeholder="Informe o nome do produto:" id="remo-nome-produto">

            <input type="text" placeholder="Informe o grupo do produto:" id="remo-grupo-produto">

            <button class="search-button" type="submit">Remover Item</button>
        </form>
    </section>
    
</div>
